.formnew {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .formnew__container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .containeer__formu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .formu__input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .formu_enviar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formu_enviar:hover {
    background-color: #3e8e41;
  }
  