.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__update {
  margin-bottom: 20px;
}

.update__input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update__subm {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.data-container {
  margin-bottom: 20px;
}

.data-container p {
  margin: 5px 0;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update_user {
  height: 18vw;

}

.update__conte {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.conte__formu {
  display: flex;
  flex-direction: column;
  gap: 1.4vw;
}

.form__input {
  margin-left: 1.2vw;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn_updt {
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  margin-right: 1.2vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn_updt:hover {
  background-color: #c82333;
}
