<div class="user-container">
  <div class="form-container">
    <form action="" class="form__update">
      <input type="text" class="update__input" name="name_update" placeholder="ingrese su nombre" [(ngModel)]="name_update" />
      <button class="update__subm" (click)="ngOnInit()">Buscar usuario</button>
    </form>
  </div>

  <div class="data-container">
    <div *ngIf="usuario">
      <p>Nombre: {{ usuario.name }}</p>
      <p>Username: {{ usuario.username }}</p>
      <p>Email: {{ usuario.email }}</p>
      <p>Password: {{ usuario.password }}</p>
      <button (click)="delete_user()">Eliminar</button>
      <button (click)="mostrar()">Actualizar</button>
    </div>
  </div>

  <div class="update_user" *ngIf="mostrar_actualizar">
    <div class="update__conte">
      <div class="conte__formu">
        <form action="" class="conten__form">
          <input type="text" class="form__input" name="nname" placeholder="name" [(ngModel)]="nname" />
          <input type="text" class="form__input" name="nusername" placeholder="username" [(ngModel)]="nusername" />
          <input type="email" class="form__input" name="ncorreo" placeholder="email" [(ngModel)]="ncorreo" />
          <input type="password" class="form__input" name="npassword" placeholder="password" [(ngModel)]="npassword"/>
          <button class="btn_updt" (click)="actualizar()">actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>
